body {
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      a {
        text-decoration: none;
       }

      .btn { 
        font-size: 24px 
      }
      
      .btn-primary {
        background-color: #68B8C1;
        border-color: #68B8C1;
      }

      .btn-primary:hover {
        transition: all 0.2s ease;
        background-color: #fff;
        color: #68B8C1;
        border-color: #68B8C1;
      }
      
      .btn-outline-primary {
        background-color: #68B8C1;
      }

      .btn-secondary {
        background-color: #ffffff;
        color: #68B8C1;
        border-color: #68B8C1;
      }

      .btn-secondary:hover {
        transition: all 0.2s ease;
        background-color: #68B8C1;
        color: #ffffff;
        border-color: #ffffff;
      }


      .card {
        transition: all 0.2s ease;
        cursor: pointer;
      }

      .card:hover {
        box-shadow: 5px 6px 6px 2px #68b8c13d;
        transform: scale(1.01);
      }

      .card-title {
        color: #575C5D;

      }
      
    
 
  }
  
